{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Trick {% endblock %}

{% block sections_body %}

<div class="home_tricks">

  <div class="container content">
    <div class="row page-wrapper">

      <section class="trick_header">
        <div class="trick_info_details pull-right">
            <div class="trick_update">
                <a href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
            <div class="trick_delete">
                <a href="#trick_delete"data-toggle="modal" data-backdrop="false"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
            <!--start modal -->
              <div class="modal fade" id="trick_delete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                        <h3 class="modal-title" id="actu_1">Suppression  Trick</h3>
                    </div>
                    
                    <div class="modal-body">
                      <div class="blog-content">
                      </div>
                      <div>
                        {{render(controller('TricksBundle:Trick:delete',{'id': trick.id} ))}}
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Fermer</button>
                    </div>

                  </div> 
                </div>
              </div>
              <!--end modal -->
        </div>

        <div class="trick_image" style="background: url('{% for image in trick.images %} {% if loop.first %} {{asset(image.webPath)}} {% endif %} {% endfor %}') no-repeat center">
          <div class="row">
            <div class="col-md-12">
              <div class="home_text">
                <h1 class="text-blue wow fadeInLeft" data-wow-duration="2s">{{trick.name}}</h1>
              </div>
            </div>
          </div>
          <!-- scroll down-->
          <div class="scrolldown">
             <a href="#list_tricks"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          </div><!-- End off scroll down -->
        </div>
      </section>

      <section class="trick_details_section">
        <div class="row trick_details">
          <div class="trick_list_medias">
              <div class="col-md-12 trick_medias">
                {% for image in trick.images %}
                <div class="col-md-2">
                  <div class="trick">
                      <a href="#">
                        <img src="{{asset(image.webPath)}}" alt="{{image.alt}}">                      
                      </a>
                  </div>
                </div>
              {% endfor %}
              {% for video in trick.videos %}
                <div class="col-md-4">
                  <div class="trick">
                      <a href="#">
                        <iframe src="{{video.url}}" allowfullscreen></iframe>                      
                      </a>
                  </div>
                </div>
              {% endfor %}
              </div>
          </div>
        </div>
     
        <div class="row trick_details">
          <div class="trick_description">
              <div class="col-md-12">
                  <h5>Description :</h5>
                  <p>{{trick.description}}</p>
              </div>
          </div>
        </div>
     
        <div class="row trick_details">
          <div class="trick_description">
              <div class="col-md-12">
                  <h5>Date de création :</h5>
                  <p>Trick créé le {{trick.dateCreation|date('d/m/Y à H:i')}}</p>
                  <h5>Date de dernière modification :</h5>
                  <p>Trick modifié le {{trick.updatedAt|date('d/m/Y à H:i')}}</p>
                  <h5>Catégorie de figure :</h5>
                  <p>Ce trick fait partie de la catégorie {{trick.category.name}}.</p>
              </div>
          </div>
        </div>
     

      <hr class="divider">

     
        <div class="row trick_details">
          <div class="trick_description">
              <div class="col-md-12">
                  <h5>Formulaire commentaire</h5>
                  <div class="well">
                    <p>Auteur : </p>
                    <p>Photo : </p>
                    {{ form(form) }}
                  </div>
              </div>
          </div>
        </div>
     

      <hr class="divider ">

     
        <div class="row trick_details">
          <div class="trick_description">
              <div class="col-md-12">
                  <h5>Liste commentaires</h5>
                  {% for comment in listComments %}
                    <div class="col-md-2">
                      <img src="{{asset(comment.user.photo.webPath)}}" alt="{{comment.user.photo.alt}}" style="">
                    </div>
                    <div class="col-md-10">
                      <p>Auteur : {{comment.user.fullName}}</p>                  
                      <p>Date : {{comment.dateCreation|date('d/m/Y à H:i')}}</p>
                      <p>Message : {{comment.content}}</p>
                    </div>
                  {% else %}
                    Pas (encore !) de commentaires
                  {% endfor %}

              </div>
               <div class="button-loading">
                  <button type="button" class="btn btn-primary btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading">Load More</button>
              </div>
          </div>
        </div>
      </section>

      <a href="{{ path('tricks_home') }}" class="btn btn-primary btn-lg">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        Retour à la liste
      </a>

    </div>
  </div>
</div> <!--End off Home Sections-->


{% endblock %}
