 <div class="">
   {{ form_start(formComment, {'attr': {'class': 'form-horizontal form-comment'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(formComment) }}
  <div class="form_comment_content col-sm-8 col-xs-12">
    {{ form_label(formComment.content) }}
    {{ form_errors(formComment.content) }}
    <div class="col-sm-12">
      {{ form_widget(formComment.content, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
   <div class="form_comment_content col-sm-4">
  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(formComment) }}
  </div>
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(formComment) }}
</div>
