<div class="trick_form">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

   <div class="media">

        <hr class="divider">

        <div class="form-group">
          {{ form_label(form.thumbnail, "Image à la une", {'label_attr': {'class': 'control-label'}}) }}
          {{ form_errors(form.thumbnail) }}
          
          {{ form_widget(form.thumbnail) }}
          <p class="file-return"></p>
        
        </div>

        <hr class="divider">

    
        <div class="form-group">
            {{ form_label(form.images, "Images", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.images) }}
 
            {{ form_widget(form.images)  }}
             <p class="file-return"></p>

        </div>                    

        <div class="add"><a href="#" id="add_image" class="btn-form">Ajouter une image</a></div>

        <hr class="divider">


        <div class="form-group">
            {{ form_label(form.videos, "Vidéos", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.videos) }}
                
            {{ form_widget(form.videos) }}

                       
        </div>
         <div class="add"><a href="#" id="add_video" class="btn-form">Ajouter une vidéo</a></div>
    </div>

   
        <hr class="divider">

  <div class="row trick_details">
              <div class="col-md-12 trick_information">
                <div>
                  <p>Date de création :<br />
                    {{'now'|date('d/m/Y à H:i')}}</p>
                </div>                  
              </div>
        </div>

 <div class="form-edit">
    {{ form_label(form.name, "Nom du trick", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control name_input'}}) }}
  </div>

  <div class="form-edit">
    {{ form_label(form.description, "Description de la figure", {'label_attr': {'class': 'control-label'}}) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
  </div>


  <div class="form-edit">
    {{ form_label(form.category) }}
    {{ form_errors(form.category) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-control category_input'}}) }}
  </div>

       <hr class="divider">

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  <div class="row">
    <div class="col-sm-12 button-form">
      {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn-primary btn-lg'}}) }}

    </div>
</div>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}


</div>
