<div class="trick_form">
    {{ form_start(formEditMedia, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formEditMedia) }}

    <div class="media">

        <div class="row col-sm-12 button-return">
            <a href="{{ path('tricks_edit', {'id': trick.id}) }}" class="btn btn-primary btn-lg" data-toggle="modal" data-backdrop="false">Retour à la modification du trick {{trick.name}}</a>
        </div>

        <hr class="divider-view">

        <div class="form-group"  id="thumbnail_edit">
            {{ form_label(formEditMedia.thumbnail, "Image à la une", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(formEditMedia.thumbnail) }}
            {% if trick.thumbnail is defined %}
                {% if trick.thumbnail is not null %}
                    <div>
                      <img src="{{ asset(trick.thumbnail.webPath) }}" alt="{{ trick.thumbnail.alt }}" class="img-responsive thumb-edit">
                    </div>
                    <div class="input-file-container-thumb">
                        {{ form_label(formEditMedia.thumbnail.file, "Modifier l'image à la une", {'label_attr': {'class': 'btn-form-thumb-1 input-file-trigger-thumb'}}) }}
                        {{ form_errors(formEditMedia.thumbnail.file) }}
                        {{ form_widget(formEditMedia.thumbnail.file, {'attr': {'class': 'input-file-thumb'}}) }} 
                        <a href="#thumbnail_delete" class="btn-form" data-toggle="modal" data-backdrop="false"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <p class="file-return-thumb"></p> 
                    </div>
                   
                {% else %}
                    <div class="add input-file-container-thumb">
                        {{ form_label(formEditMedia.thumbnail.file, "Ajouter une image à la une", {'label_attr': {'class': 'btn-form-thumb input-file-trigger-thumb'}}) }}
                        {{ form_errors(formEditMedia.thumbnail.file) }}
                        {{ form_widget(formEditMedia.thumbnail.file, {'attr': {'class': 'input-file-thumb'}}) }}
                        <p class="file-return-thumb"></p>
                    </div>
                {% endif %}
            {% endif %}
                
        </div>

        <hr class="divider">

        <div class="media_images">
                
            <div>{{ form_label(formEditMedia.images, "Images", {'label_attr': {'class': 'control-label'}}) }}</div>
                
            <div id="{{ formEditMedia.images.vars.id }}" data-prototype="{{ form_widget(formEditMedia.images.vars.prototype)|e ('html_attr')}}" class="form-group">
                {{ form_errors(formEditMedia.images) }}
                <div class="row medias-mobile">
                    {% for image in formEditMedia.images %}
                        <div class="col-md-2" id="image-{{loop.index0}}">
                            <div class="trick-view"><img src="{{ asset(image.vars.value.webPath) }}" alt="{{ asset(image.vars.value.alt) }}" class="img-responsive thumb-home"></div>
                            <div class="input-file-container">
                                {{ form_label(image.file, "Modifier l'image", {'label_attr': {'class': 'input-file-trigger'}}) }}
                                {{ form_errors(image.file) }}
                                {{ form_widget(image.file, {'attr': {'class': 'input-file'}}) }}
                                <a href="#delete_image_{{image.vars.value.id}}" class="btn-form" data-toggle="modal" data-backdrop="false"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                <p class="file-return"></p>
                            </div>                           
                        </div>
                    {% else %}
                        {% do formEditMedia.images.setRendered %}
                    {% endfor %}
                </div>
            </div>

             
                <div class="add"><a href="#" id="add_image" class="btn-form">Ajouter une image</a></div>
        </div>

       <hr class="divider-view">

            <div class="media_videos">

                <div>{{ form_label(formEditMedia.videos, "Vidéos", {'label_attr': {'class': 'control-label'}}) }}</div>

                <div id="{{ formEditMedia.videos.vars.id }}" data-prototype="{{ form_widget(formEditMedia.videos.vars.prototype)|e ('html_attr')}}" class="form-group">
                    {{ form_errors(formEditMedia.videos) }}
                    <div class="row medias-mobile">
                    {% for video in formEditMedia.videos %}
                        <div class="col-md-3" id="video-{{loop.index0}}">
                            <div class="trick-view"><iframe class="img-responsive thumb-home" src="{{ asset(video.vars.value.url) }}" allowfullscreen></iframe></div>
                            <div class="input-file-container">
                                {{ form_label(video.url, "Modifier la balise embed de la vidéo") }}
                                {{ form_errors(video.url) }}
                                {{ form_widget(video.url) }}
                            </div>
                            <div class="add-video"><a href="#delete_video_{{video.vars.value.id}}" class="btn-form" data-toggle="modal" data-backdrop="false"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                        </div>
                    {% else %}
                        {% do formEditMedia.videos.setRendered %}
                    {% endfor %}
                </div>
            </div> 

                <div class="add"><a href="#" id="add_video" class="btn-form">Ajouter une vidéo</a></div>
            </div>  

            <hr class="divider-view">
    </div>

    <div class="row">
        <div class="col-sm-12 button-form-mobile">
            {{ form_widget(formEditMedia.Enregistrer, {'attr': {'class': 'btn-primary btn-lg'}}) }}
        </div>
    </div>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(formEditMedia) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(formEditMedia) }}


   <!--start modal -->
   {% if trick.thumbnail is defined %}
        {% if trick.thumbnail is not null %}
            <div class="modal fade" id="thumbnail_delete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                            <h3 class="modal-title" id="actu_1">Suppression Image à la une</h3>
                        </div>
                  
                        <div class="modal-body">
                            <div class="blog-content">
                            </div>
                            <div>
                                {{render(controller('TricksBundle:Thumbnail:delete',{'id': trick.thumbnail.id} ))}}
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Fermer</button>
                        </div>

                    </div> 
                </div>
            </div>
        {% endif %}
    {% endif %}
    <!--end modal -->

  <!--start modal -->
   {% if trick.images is defined %}
        {% for image in trick.images %}
            {% if image.id is not null %}
                <div class="modal fade" id="delete_image_{{image.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                <h3 class="modal-title" id="actu_1">Suppression  Image</h3>
                            </div>
                          
                            <div class="modal-body">
                                <div class="blog-content">
                                </div>
                                <div>
                                  {{render(controller('TricksBundle:Image:delete',{'id': image.id} ))}}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Fermer</button>
                            </div>

                        </div> 
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!--end modal -->

    <!--start modal -->
     {% if trick.videos is defined %}
        {% for video in trick.videos %}
            {% if video.id is not null %}
                <div class="modal fade" id="delete_video_{{video.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                <h3 class="modal-title" id="actu_1">Suppression Vidéo</h3>
                            </div>
                              
                            <div class="modal-body">
                                <div class="blog-content">
                                </div>
                                <div>
                                    {{render(controller('TricksBundle:Video:delete',{'id': video.id} ))}}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Fermer</button>
                            </div>

                        </div> 
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!--end modal -->

</div>
