{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block sections_body %}

    <!--Home Sections-->

    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-blue animation">Bienvenue sur SnowTricks !</h1>
                        <p class="text-blue animation">Site communautaire pour les passionnés du Snowboard</p>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash-{{ label }} animation">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->

        <!-- scroll down-->
        <div class="scrolldown">
            <a href="#list_tricks"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div><!-- End off scroll down -->

    </section> <!--End off Home Sections-->

    <!-- Page Content -->
    <section class="container roomy-50-100 list_tricks" id="list_tricks">
    
        {% if is_granted('ROLE_USER') %}
            <div class="button-return">
                <a href="{{ path('tricks_add') }}" class="btn btn-primary btn-lg" name="ajout">Créer un trick</a>
            </div>
        {% endif %}

        <div class="row featurette">
            {% for trick in listTricks %}
                <div class="col-md-2 point5 trick_load" style="display:none">
                    <div class="trick">
                        <div class="trick_image_home">
                            <a href="{{ path('tricks_view', {'id': trick.id}) }}">
                                <div class="overlay-image">
                                    {% if trick.thumbnail is not null %}
                                        <img class="img-responsive thumb-home" src="{{asset(trick.thumbnail.webPath)}}" alt="{{trick.thumbnail.alt}}">
                                        <br>
                                    {% elseif trick.images is not null %}
                                        {% for image in trick.images %}
                                            {% if loop.first %}
                                                <img class="img-responsive thumb-home" src="{{asset(image.webPath)}}" alt="{{image.alt}}">
                                                <br>
                                            {% endif %}
                                        {% else %}
                                            <img class="img-responsive thumb-home" src="{{asset('assets/images/background/snow.jpg')}}" alt="image par défaut">
                                            <br>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="normal">
                                        <div class="text">
                                            {% if trick.thumbnail is null %}
                                                <p class="text-blue animation text-listtrick"> Aucune image à la une pour l'instant ! </p>
                                            {% endif %}
                                        </div>
                                    </div>           
                                </div>
                            </a>
                        </div>

                        <div class="trick_info">

                            <div class="trick_name">
                                <a href="{{ path('tricks_view', {'id': trick.id}) }}"><h6>{{ trick.name }}</h6></a>
                            </div>

                            {% if is_granted('ROLE_USER') %}
                                <div class="trick_update">
                                    <a href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                                <div class="trick_delete">
                                    <a href="#trick_delete_{{trick.id}}" data-toggle="modal" data-backdrop="false"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                            {% endif %}

                            <!--start modal -->
                            <div class="modal fade" id="trick_delete_{{trick.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                            <h3 class="modal-title" id="actu_1">Suppression  Image</h3>
                                        </div>
                                  
                                        <div class="modal-body">
                                            <div class="blog-content">
                                            </div>
                                            <div>
                                                {{render(controller('TricksBundle:Trick:delete',{'id': trick.id} ))}}
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <!--end modal -->

                        </div><!-- end trick_info -->
                    </div>
                </div>
            {% else %}
                Pas (encore !) de tricks
            {% endfor %}
        </div>

        <div class="button-loading">
            <button type="button" class="btn btn-primary btn-lg btn-load" id="load" data-loading-text="<i class='fa fa-spinner fa-spin ' ></i> Loading">En voir plus</button>
        </div>

    </section>

{% endblock %}
