{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Trick {% endblock %}

{% block sections_body %}

<div class="home_tricks">

  <div class="container content">
    <div class="row page-wrapper">

      <section class="trick_header">

        {% if is_granted('ROLE_USER') %}
        <div class="trick_info_details pull-right">
            <div class="trick_update">
                <a href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
            <div class="trick_delete">
                <a href="#trick_delete"data-toggle="modal" data-backdrop="false"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
            <!--start modal -->
              <div class="modal fade" id="trick_delete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                        <h3 class="modal-title" id="actu_1">Suppression  Trick</h3>
                    </div>
                    
                    <div class="modal-body">
                      <div class="blog-content">
                      </div>
                      <div>
                        {{render(controller('TricksBundle:Trick:delete',{'id': trick.id} ))}}
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Fermer</button>
                    </div>

                  </div> 
                </div>
              </div>
              <!--end modal -->
        </div>
      {% endif %}

        <div class="trick_image">

          <div class="row">
            <div class="col-md-12">
              <div class="home_text">
                


                <div class="overlay-image">
                  {% if trick.thumbnail is not null %}
                      <img class="img-responsive" src="{{asset(trick.thumbnail.webPath)}}" alt="{{trick.thumbnail.alt}}">
                      <br>
                    {% elseif trick.images is not null %}
                      {% for image in trick.images %}
                          {% if loop.first %}
                              <img class="img-responsive" src="{{asset(image.webPath)}}" alt="{{image.alt}}">
                              <br>
                          {% endif %}
                      {% else %}
                           <img class="img-responsive" src="{{asset('assets/images/background/snow.jpg')}}" alt="image par défaut">
                          <br>
                      {% endfor %}
                    {% endif %}
                  <div class="normal">
                   <div class="text">
                      <h1 class="text-blue wow fadeInLeft" data-wow-duration="2s">{{trick.name}}</h1>
                      {% if trick.thumbnail is null %}
                        <h3 class="text-blue wow fadeInLeft"> Aucune image à la une pour l'instant ! </h3>
                      {% endif %}
                    </div>

                  </div>           

              </div>
            </div>
          </div>
          
        </div>
      </section>

      <div>{% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} wow fadeInLeft" data-wow-duration="2s">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
      </div>

      <div class="row col-sm-12 button-return"><a href="{{ path('tricks_home') }}#list_tricks" class="btn btn-primary btn-lg">
        <span class="meta-nav">&larr;</span> 
        Retour à la liste des tricks
      </a></div>



      <section class="trick_details_section">
         <hr class="divider">
        <div class="row trick_details">
          <div class="trick_list_medias">
              <div class="col-md-12 trick_medias">
                {% for image in trick.images %}
                <div class="col-md-2">
                  <div class="trick-view">
                        <img class="img-responsive thumb-home" src="{{asset(image.webPath)}}" alt="{{image.alt}}">                      
                  </div>
                </div>
              {% endfor %}
              {% for video in trick.videos %}
                <div class="col-md-2">
                  <div class="trick-view">
                        <iframe src="{{video.url}}" allowfullscreen ></iframe>                      
                  </div>
                </div>
              {% endfor %}
              </div>
          </div>
        </div>
      <hr class="divider">
        <div class="row trick_details">
          <div>
              <div class="col-md-12 trick_description">
                  <p>{{trick.description|raw|nl2br}}</p>
              </div>
          </div>
        </div>
     
        <div class="row trick_details">
              <div class="col-md-12 trick_information">
                <div>
                  <p>Trick créé le :<br />
                    {{trick.dateCreation|date('d/m/Y à H:i')}}</p>
                </div>
                <div>
                  <p>Trick modifié le :<br />
                    {{trick.updatedAt|date('d/m/Y à H:i')}}</p>
                </div>  
                <div>
                  <p>Catégorie de figure :<br />
                    {{trick.category.name}}.</p>
                </div> 
                  
              </div>
        </div>
     
    <hr class="divider-view">

        {% if is_granted('ROLE_USER') %}
        <div class="row trick_details trick_comment_form">
          <div class="">
              <div class="col-md-12 ">
                  <div class="form ">
                          {{ include("TricksBundle:Trick:form_comment.html.twig") }}
                  </div>
              </div>
          </div>
        </div>  

      {% endif %}

      <hr class="divider-view">

        <div class="row trick_details">
          <div class="trick_comments">
              <div class="col-md-12">
                  <h5>Commentaires</h5>
                  {% for comment in listComments %}
                    <div class="row"  id="comments">
                      <div class="col-md-2 user-photo">
                        <img src="{{asset(comment.user.photo.webPath)}}" alt="{{comment.user.photo.alt}}" class="img-circle user-photo-img">
                      </div>
                      <div class="col-md-10 user-comment">
                        <p class="user-comment-name">{{comment.user.fullName}}</p>                  
                        <p class="user-comment-content">{{comment.content}}</p>
                        <p class="user-comment-date">{{comment.dateCreation|date('d/m/Y à H:i')}}</p>
                      </div>
                    </div>

                  {% else %}
                    Pas (encore !) de commentaires
                  {% endfor %}
 
                  <div class="text-center">
                    <ul class="pagination">
                      {% if page > 1 %}
                          <li class="page-item"><a class="page-link" href="{{ path('tricks_view', {'id': trick.id, 'page': page-1}) }}">Précédent</a></li>
                      {% endif %}
                      {% for p in range(1, nbPages) %}
                          <li {% if p == page %}class="active"{% endif %}>
                              <a href="{{ path('tricks_view', {'id': trick.id, 'page': p}) }}" style="{%  if p == 0 %}display: none;{% endif %}">{{ p }}</a>
                          </li>
                      {% endfor %}
                      {% if page < nbPages and page >= 1 %}
                          <li class="page-item"><a class="page-link" href="{{ path('tricks_view', {'id': trick.id, 'page': page+1}) }}">Suivant</a></li>
                      {% endif %}
                    </ul>
                  </div>

              </div>
          </div>
        </div>
      </section>

      

    </div>
  </div>
</div> <!--End off Home Sections-->


{% endblock %}
