<h3>Bonjour {{name}} !</h3>

<p>Pour réinitialiser vote mot de passe merci de cliquer sur le lien suivant :</p>
<p><a href="{{ app.request.schemeAndHttpHost }}{{ path('reset_password', { 'token': token }) }}">{{ app.request.schemeAndHttpHost }}{{token}}</a></p>
<p>Si le lien ne fonctionne pas, merci de copier le lien ci-dessus dans votre navigateur.</p>
<p>A bientôt sur SnowTricks :-)</p>
