{% extends "::layout.html.twig" %}

{% block sections_body %}

  <!-- Page Content -->
<div class="container login-page">
  <div class="row login-title">
        <div class="home_text">
            <h1 class="text-blue wow fadeInLeft" data-wow-duration="2s">Mot de passe oublié</h1>
            {% for label, messages in app.flashes %}
              {% for message in messages %}
                  <div class="flash-{{ label }} wow fadeInLeft" data-wow-duration="2s">
                      {{ message }}
                  </div>
              {% endfor %}
            {% endfor %}
        </div>
  </div><!--End off row-->
  <div class="row page-wrapper-register">

{{ form_start(form) }}

    <div class="register-user">
      {{ form_row(form.email) }}
    </div>

    <div class="register-submit">
      <input type="submit" class="btn-login" value="Demander un nouveau mot de passe" />
    </div>

 {{ form_end(form) }}

 </div>
</div>

{% endblock %}
