<h3>Bienvenue {{name}} !</h3>

<p>Pour activer votre compte il suffit de cliquer sur le lien suivant :</p>
<p><a href="{{ app.request.schemeAndHttpHost }}{{ path('register_confirmation', { 'token': token }) }}">{{ app.request.schemeAndHttpHost }}{{token}}</a></p>
<p>Si le lien ne fonctionne pas, il suffit de copier le lien ci-dessus et de le coller dans votre navigateur.</p>
<br/>
<p>A bientôt sur SnowTricks :-)</p>