<h3>Bienvenue {{name}} !</h3>

<p>Pour activer votre compte merci de cliquer sur le lien suivant :</p>
<p><a href="{{ app.request.schemeAndHttpHost }}{{ path('register_confirmation', { 'token': token }) }}">{{ app.request.schemeAndHttpHost }}{{token}}</a></p>
<p>Si le lien ne fonctionne pas, merci de copier le lien ci-dessus dans votre navigateur.</p>
<p>A bientôt sur SnowTricks :-)</p>
